.dashboard-container {
  display: flex;
  width: 100%;
  height: 100vh;
}
.left {
  flex: 1.4;
  background-color: rgb(29,155,240);
  padding: 0px 20px;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: hidden;
}
.min-left {
  flex: 0.5;
  background-color: rgb(29,155,240);
  padding: 0px 10px;
  height: 100vh;
  position: sticky;
  font-size: 12px;
  top: 0;
}
hr {
  border: 1px solid rgb(253, 252, 252);
}
.right {
  flex: 10;
  height:100vh;
  overflow-y: scroll;
}
.left > div > img
 {
  width: 100%;
}
.left > div {
  text-align: start;
  padding: 18px 0px;
  color: rgb(197, 196, 196);
  display: flex;
  align-items: center;
  gap: 10px;
}
.min-left > div {
  text-align: center;
  padding: 18px 0px;
  color: rgb(197, 196, 196);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.small-logo{
  width:70%;
}
.hr_line{
  background-color: white;
  width:100%;
  height: 1px;
}
.left-right{
  text-align: center;
  width: 40px;
  height: 5px;
  padding: 0px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: rgb(172, 171, 171);
}
.dashboard-nav {
  height: 70px;
  padding: 10px 20px 10px 20px;
  position: sticky;
  top: 0px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-nav > div {
  display: flex;
  align-items: center;
}
.search-input {
  padding: 10px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border: 2px solid rgb(29,155,240);
  font-size: 17px;
}
.search-input:focus {
  outline: none;
}
button {
  border: none;
  background-color: rgb(29,155,240);
  padding: 8px 10px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: white;
}
.selected-body:hover {
  cursor: pointer;
}
.selected-body{
  width:100%;
  margin: auto;
}
.left > .active,
.min-left > .active {
  color: white;
  font-weight: bolder;
}
.left > div:hover,
.min-left > div:hover {
  color: white;
  font-weight: bolder;
  cursor: pointer;
}
