.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5% 3%;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(29, 155, 240);
  height: 80px;
}
.image-div {
  flex: 2;
}
.image-div > img {
  width: 200px;
}
.navbar-btn {
  flex: 9;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10%;
  font-size: 22px;
  color: white;
}
.navbar-btn > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
