.login-container {
  background-color: rgb(253, 247, 241);
}
.header {
  height: 50px;
  padding: 20px 100px;
  display: flex;
  align-items: center;
  justify-content: start;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(253, 247, 241);
}
.header > img {
  height: 100%;
}
.body {
  display: flex;
  justify-content: space-around;
  width: 85%;
  margin: auto;
  gap: 60px;
  margin-top: 2%;
  z-index: 0;
  padding-bottom: 40px;
}
.left-img {
  flex: 2;
  margin-top: 6%;
  text-align: left;
}
.left-img > img {
  width: 100%;
}
.right-form {
  flex: 1.1;
  background-color: white;
  border-radius: 20px;
  padding: 50px 70px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.form-input {
  border: 1px orange;
}
form {
  color: rgb(73, 73, 88);
  text-align: start;
  margin-bottom: 30px;
}
form > p {
  font-size: 17px;
  font-weight: 500;
  padding-bottom: 20px;
}
form > .form-input {
  width: 100%;
}
.login-btn {
  background-color: rgb(252, 192, 80);
  color: white;
  border: none;
  border-radius: 50px;
  width: 100%;
  padding: 18px 20px;
  font-size: 17px;
  font-weight: 500;
}
.orange-text {
  color: rgb(252, 192, 80);
  font-size: 17px;
  font-weight: 500;
}
.blue-text {
  color: rgb(73, 73, 88);
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
}
.blue-text > span {
  margin-left: 10px;
}
.top-img-logo > div > .earth-logo {
  width: 60px;
}
.top-img-logo > div > .text-logo {
  width: 80px;
}
h1,
h2 {
  color: rgb(73, 73, 88);
}
